//variables
$colortitulos : #222222;
$colorcontenido: #666666;
//tipos de letra
$montserrat_regular : montserratregular;
$montserrat_bold : montserratbold;
$ptsans_bold: pt_sansbold;
$ptsans_regular : pt_sansregular;
$ptsans_italic : pt_sansitalic;

$merriveather_lightitalic:merriweatherlight_italic;