@import 'bourbon';
@import 'scut';
@import 'variables';
@import 'normalize.min';
@import 'fuentes';
@import 'ayudas';

header{
	height: 113px;
	border: 1px solid #ccc;
	.superiorheader{
		height: 35px;
		background: #2f2f2f;
		.contteldir{
			width: 1000px;
			margin: 0 auto;
			font-size: 14px;
			line-height: 34px;
			span.telefono{
				font-family: $montserrat_bold;
				color: #fff;
				margin-right: 15px;
				float: left;
			}
			span.telefono:before{
				content:url('../images/header/fono.png');
				position:relative;
				top: 5px;
				left:0px;
			}
			span.direccion{
				font-family: $montserrat_regular;
				color:#777777;
				margin-left: 15px;
				float: left;
			}
			span.direccion:before{
				content: url('../images/header/ubicacion.png');
				position: relative;
				top: 5px;
				left:0px;
			}
		}
		nav.superior{
			float: right;
			color:#777777;
			font-family: $montserrat_regular;
			ul{
				li{
					float: left;
					a{
						padding:0 12px;
					}
				}
			}
		}
	}
	.inferiorheader{
		font-family: $montserrat_regular;
		height: 78px;
		line-height: 78px;
		.logonav{
			width: 1000px;
			margin:0 auto;
			height: 78px;
		.logo{
			display: block;
			float: left;
			}
		.menuprincipal{
			float: right;
			text-transform: uppercase;
				ul{
					li{
						float: left;
						a{
							color: #777777;
							padding: 0 15px;
						}
						a.active{
							color:#000;
						}
					}
					li.active:before{
						content: '';
						display: block;
						border: 1px solid #b96539;
						margin: 0 15px;
					}
				}
			}
		}
	}
	
}
main{
	.slider{
		width: 100%;
		height: 485px;
		border-bottom: 1px solid #000;
		background: #000;
		ul{
			li{
				.contenidoslider{
					width: 1000px;
					display: block;
					margin: 0 auto;
					position: relative;
					top: -330px;
					height: auto;
					text-align: center;
					color: #fff;
					text-shadow: 1px 1px 4px #333;
					span.textoslider{
						font-size: 50px;
						font-family: $montserrat_bold;
						display: block;
					}
					span.leermas{
						font-size: 14px;
						display: block;
						a{
							  padding: 12px;
							  border: 1px solid #fff;
							  line-height: 70px;
							  font-family: $montserrat_regular;
						}
					}
				}
			}
		}
	}
	.content{
		width: 1000px;
		margin: 0 auto;
		height: 200px;
	}
}