@import 'bourbon';
@import 'scut';
@import 'variables';
@import 'normalize.min';
@import 'fuentes';
@import 'ayudas';

.alignleft{
	float: left;
}
.alingright{
	float: right;
}
.alingcenter{

}

body{
	background: #f7f5f2;
}
header{
	height: 113px;
	border: 1px solid #ccc;
	background: #fff;
	.superiorheader{
		height: 35px;
		background: #2f2f2f;
		.contteldir{
			width: 1000px;
			margin: 0 auto;
			font-size: 14px;
			line-height: 34px;
			span.telefono{
				font-family: $montserrat_bold;
				color: #fff;
				margin-right: 15px;
				float: left;
			}
			span.telefono:before{
				content:url('../images/header/fono.png');
				position:relative;
				top: 5px;
				left:0px;
			}
			span.direccion{
				font-family: $montserrat_regular;
				color:#777777;
				margin-left: 15px;
				float: left;
			}
			span.direccion:before{
				content: url('../images/header/ubicacion.png');
				position: relative;
				top: 5px;
				left:0px;
			}
		}
		nav.superior{
			float: right;
			color:#777777;
			font-family: $montserrat_regular;
			ul{
				li{
					float: left;
					a{
						padding:0 12px;
					}
				}
			}
		}
	}
	.inferiorheader{
		font-family: $montserrat_regular;
		height: 78px;
		line-height: 78px;
		.logonav{
			width: 1000px;
			margin:0 auto;
			height: 78px;
			background: #fff;
		.logo{
			display: block;
			float: left;
			}
		.menuprincipal{
			float: right;
			text-transform: uppercase;
				ul{
					li{
						float: left;
						a{
							color: #777777;
							padding: 0 15px;
						}
						a.active{
							color:#000;
						}
					}
					li.active:before{
						content: '';
						display: block;
						border: 1px solid #b96539;
						margin: 0 15px;
					}
				}
			}
		}
	}
	
}
main{
	.slider{
		width: 100%;
		height: 485px;
		border-bottom: 1px solid #000;
		background: #000;
		ul{
			li{
				.contenidoslider{
					width: 1000px;
					display: block;
					margin: 0 auto;
					position: relative;
					top: -330px;
					height: auto;
					text-align: center;
					color: #fff;
					text-shadow: 1px 1px 4px #333;
					span.textoslider{
						font-size: 50px;
						font-family: $montserrat_bold;
						display: block;
					}
					span.leermas{
						font-size: 14px;
						display: block;
						a{
							  padding: 12px;
							  border: 1px solid #fff;
							  line-height: 70px;
							  font-family: $montserrat_regular;
						}
					}
				}
			}
		}
	}
	.content{
		width: 1000px;
		margin: 0 auto;
		height: auto;
		aside.banners{
			margin-bottom: -50px;
			position: relative;
			z-index: 50;
			ul{
				li{
					float: left;
					border:6px solid #fff;
					position: relative;
					span.bannoticia{
						position: absolute;
						bottom: 20px;
						left: 0px;
						width: 266px;
						height: 40px;
						line-height: 40px;
						color: #fff;
						font-family: $montserrat_regular;
						font-size: 15px;
					}
					span.not1{
						background-color: #6c615b;
					}
					span.not2{
						background-color: #874f32;
					}
					span.not3{
						background-color: #222222;
					}
					span.bannoticia:before{
						content:url('../images/content/left-baner.png');
						margin-right: 5px;
  						margin-left: 10px;
					}
				}
				li.central{
					margin: 0 32px;
				}
			}
		}
		section.seccion1{
			margin:45px 0px 30px 0px;
			float: left;

			article.article1{
				width: 422px;
				height: 373px;
				float: left;
				background: #fff;
				padding: 24px 24px 24px 24px;
				h2{
					font-family: $montserrat_regular;
					font-size: 17px;
					color: #222222;
					margin-bottom: 20px;
				}
				span.cuadro1{
					border-top: 1px solid #ccc;
					display: block;
					height: 375px;
					div.coluno{
						float: left;
						width: 222px;
						margin-top: 20px;
						img{
							margin-bottom: 15px;
						}
					}
					div.coldos{
						float: left;
						width: 200px;
						font-size: 13px;
						font-family: $ptsans_regular;
						margin-top: 20px;
						line-height: 17px;
					}
					span.leermas{
						display: block;
						padding: 10px;
						border: 1px solid #ccc;
						float: left;
						margin-top: 15px;
						font-size: 12px;
						font-weight: bold;
					}
				}
				span.cuadro1:before{
					content: '';
					border-top: 3px solid #b96539;
					width: 37px;
					height: 3px;
					display: block;
					position: relative;
					top: -2px;
				}
			}
			article.article2{
				width: 186px;
				background: #fff;
				height: 373px;
				float: left;
				margin:0 34px;
				padding: 24px 24px 24px 24px;
				h2{
					font-family: $montserrat_regular;
					font-size: 17px;
					color: #222222;
					margin-bottom: 20px;
				}
				span.cuadro2{
					border-top: 1px solid #ccc;
					display: block;
					height: 375px;
					font-size: 13px;
					font-family: $ptsans_regular;
					img{
						margin:0px 5px 20px 0px;
					}
				} 
				span.cuadro2:before{
					content: '';
					border-top: 3px solid #b96539;
					width: 37px;
					height: 3px;
					display: block;
					position: relative;
					top: -2px;
				}
			}
			article.article3{
				width: 180px;
				background: #fff;
				height: 373px;
				float: left;
				padding: 24px 24px 24px 24px;
				h2{
					font-family: $montserrat_regular;
					font-size: 17px;
					color: #222222;
					margin-bottom: 20px;
				}
				span.cuadro3{
					border-top: 1px solid #ccc;
					display: block;
					height: 375px;
					font-size: 13px;
					font-family: $ptsans_regular;
					line-height: 17px;
				}
				span.cuadro3:before{
					content: '';
					border-top: 3px solid #b96539;
					width: 37px;
					height: 3px;
					display: block;
					position: relative;
					top: -2px;
				}
			}
		}
	}
	.navsecundario{
		width: 100%;
		height: 120px;
		float: left;
		background: url('../images/content/fondo-menusecundario.png') repeat-x;
		line-height: 120px;
		font-family: $montserrat_regular;
		font-size: 13px;
		.menusecundario{
			width: 1000px;
			margin:0 auto;
			ul{
				li{
					float: left;
					a{
						padding: 0px 15px;
					}
					a:before{
						content:url('../images/content/aspabien.png');
						width: 21px;
						height: 17px;
					}
				}
			}
		}
	}
	.content2{
		width: 1000px;
		margin: 0 auto;
		height: auto;
		overflow: hidden;
		section.seccion2{
			margin:30px 0px 30px 0px;
			height: auto;
			float: left;
			article{
				width: 263px;
				height: 353px;
				padding: 24px 24px 24px 24px;
				background: #fff;
				h2{
					font-family: $montserrat_regular;
					font-size: 17px;
					color: #222222;
					margin-bottom: 20px;
				}
				span.cuadro{
					border-top: 1px solid #ccc;
					display: block;
					height: 375px;
					font-size: 13px;
					font-family: $ptsans_regular;
					line-height: 17px;
					img{
						margin:0px 5px 20px 0px;
					}
				}
				span.cuadro:before{
					content: '';
					border-top: 3px solid #b96539;
					width: 37px;
					height: 3px;
					display: block;
					position: relative;
					top: -2px;
				}
			}
			.article1{
				float: left;

				}
			section.redes{
				float: left;
				height: 400px;
				padding: 0px 24px 24px 24px;
				.article2{
					height: 275px;
					span.cuadro{
						border-top: 1px solid #ccc;
						display: block;
						font-size: 13px;
						font-family: $ptsans_regular;
						height: 65px!important;
						img{
							margin:0px 5px 15px 0px;
						}
					} 
				}
				article.redessociales{
					margin:30px 0px 0px 0px;
					height: 50px;
					padding: 0px;
					width: 310px;
					ul{
						li{
							background: #fff;
							height: 50px;
							display: inline-block;
							width: 59px;
  							border-left: 2px solid #f7f5f2;
							a{
								display: block;
								padding: 12px 0px 10px 11px;
							}
						}
						li.bolg{
							width: 110px;
						}
					}
				}
				
			}
			.article3{
				float: left;
				h3{
					clear: both;
				}
			}
		}
	}
}
footer{
	height: 360px;
	width: 100%;
	.btnenviar{
		width: 70px;
		height: 23px;
		background-color: red;
		display: block;
		position: absolute;
		right: 17px;
		top: 164px;
		background: #b96539;
		border: none;
		color: #fff;
	}
	.newsleetercampo{
		width: 125px;
	}
	.footerlist{
		height: 315px;
		background:url('../images/content/footerfondo.png')repeat-x;
		color: #fff;
		.contentlist{
			width: 1000px;
			margin:0 auto;
				section.seccionfooter{
				margin:30px 0px 80px 0px;
				height: auto;
				float: left;
				article{
					width: 192px;
					height: 160px;
					padding: 24px 24px 24px 10px;
					margin: 0 5px;
					h2{
						font-family: $montserrat_regular;
						font-size: 17px;
						color: #fff;
						margin-bottom: 20px;
					}
					span.cuadro{
						border-top: 1px solid #ccc;
						display: block;
						height: auto;
						font-size: 13px;
						font-family: $ptsans_regular;
						line-height: 17px;
						img{
							margin:0px 5px 20px 0px;
						}
					}
					span.cuadro:before{
						content: '';
						border-top: 3px solid #b96539;
						width: 37px;
						height: 3px;
						display: block;
						position: relative;
						top: -2px;
					}
				}
				.article1{
					float: left;
					position: relative;
					}
				section.redes{
					float: left;
					height: 400px;
					padding: 0px 24px 24px 24px;
					.article2{
						height: 275px;
						.cuadro{
							height: 200px;
							font-size: 13px;
							font-family: $ptsans_regular;
							span.cuadro{

							}
						}
					}
					article.redessociales{
						margin:30px 0px 0px 0px;
						height: 50px;
						padding: 0px;
						width: 310px;
						ul{
							li{
								background: #fff;
								height: 50px;
								display: inline-block;
								width: 59px;
	  							border-left: 2px solid #f7f5f2;
								a{
									display: block;
								}
							}
							li.bolg{
								width: 110px;
							}
						}
					}
					
				}
				.article3{
					float: left;
					img{
						float: left!important;
					}
				}
			}
		}
	}
	.copyright{
		height: 47px;
		background:#2f2f2f;
		line-height:47px;
		.contentcopy{
			width: 1000px;
			margin: 0 auto;
			span.derechos{
			float: left;
			color: #fff;
			font-family: $ptsans_regular;
			font-size: 14px;
			}
			span.sitemap{
				float: right;
				ul {
					li{
						float: left;
						a{
							font-family: pt_sansregular;
							color: #fff;
							font-size: 12px;
							padding: 0 5px;
						}
						a:after{
							content: url("../images/content/linefooter.jpg");
							width: 2px;
							height: 13px;
							position: relative;
							right: -6px;
							top: 4px;
						}
					}
				}
			}
		}
	}
}