footer
	div.footerlist
		div.contentlist
	div.copyright
		div.contentcopy
			span.derechos.
				© 2015 Megahout & Plaat - Alle rechten voorbehouden
			span.sitemap
				ul 
					li 
						a(href="http://", target="_blank") Sitemap
					li 
						a(href="http://", target="_blank") Disclaimer 