footer
	div.footerlist
		div.contentlist
			section.seccionfooter
				article.article1
					h2.
						BLIJF OP DE HOOGTE	
					span.cuadro
						p.
							Megahout & Plaat is gecertificeerd leverancier van duurzaam geproduceerde houtproducten. 
						input(name="newsletter" id="newsletter" class="newsleetercampo")
						input(type="submit" value="enviar" class="btnenviar")	

				article.article1
					h2.
						Milieu	
					span.cuadro
						p
						p
						ul
							li.
								Groen produceren
							li.
								Gecertificeerd hout leverancier
							li.
								FSC Keurmerk
							li.
								PEFC keurmerk


				article.article3
					h2.
						Milieu
					span.cuadro
						p
						p
						ul
							li.
								Groen produceren
							li.
								Gecertificeerd hout leverancier
							li.
								FSC Keurmerk
							li.
								PEFC keurmerk
				article.article3
					img(src="images/content/logofooter.jpg", alt="")
	div.copyright
		div.contentcopy
			span.derechos.
				© 2015 Megahout & Plaat - Alle rechten voorbehouden
			span.sitemap
				ul 
					li 
						a(href="http://", target="_blank") Sitemap
					li 
						a(href="http://", target="_blank") Disclaimer 