header
	div.superiorheader
		div.contteldir
			span.telefono.
				(0512)582880
			span.direccion.
				Pascallaan 3,92070 Drachten
			nav.superior
				ul
					li
						a(href="http://", target="_blank") Nieuws
					li
						a(href="http://", target="_blank") Vacatures
					li
						a(href="http://", target="_blank") Route
	div.inferiorheader
		div.logonav
			.logo
				img(src="images/header/logo.png", alt="")
			nav.menuprincipal
				ul
					li.active
						a.active(href="http://", target="_blank") Home
					li
						a(href="http://", target="_blank") Overons
					li
						a(href="http://", target="_blank") Specialisatie
					li
						a(href="http://", target="_blank") Milieu
					li
						a(href="http://", target="_blank") Contact









