extends ../plantillas/plantilla-principal

block title
	-var proyecto = {nombre: 'nombre', seccion: 'seccion'}
	title #{proyecto.nombre} | #{proyecto.seccion}

block content
	main
		div.slider
			ul.bxslider
				li
					img(src="images/slider/slider1.jpg", alt="")
					div.contenidoslider
						span.textoslider.
							Ons Hout Bouwt vertrouwd
						span.leermas
							a(href="http://", target="_blank") meer over ons

				li
					img(src="images/slider/slider2.jpg", alt="")
					div.contenidoslider
						span.textoslider.
							Ons Hout Bouwt vertrouwd
						span.leermas
							a(href="http://", target="_blank") meer over ons
							
		div.content
			aside.banners
				ul
					li
						img(src="images/content/banner1.jpg", alt="" width="300" height="200")
						span.bannoticia.not1.
							Prefab
					li.central
						img(src="images/content/banner2.jpg", alt=""  width="300" height="200")
						span.bannoticia.not2.
							Emballage
					li
						img(src="images/content/banner3.jpg", alt=""  width="300" height="200")
						span.bannoticia.not3.
							Handel
			section.seccion1
				article.article1
				article.article2
				article.article3
		div.navsecundario
			div.menusecundario
				ul
					li
						a(href="http://", target="_blank") Megahout & Plaat, veelzijdig in maatwerk
					li
						a(href="http://", target="_blank") Megahout & Plaat, veelzijdig in maatwerk
					li
						a(href="http://", target="_blank") Megahout & Plaat, veelzijdig in maatwerk
		div.content2
			section.seccion2
				article.article1.
					asdfasdf
				article.article2.
					asfasdf
				article.article3.
					asfasdf