extends ../plantillas/plantilla-principal

block title
	-var proyecto = {nombre: 'nombre', seccion: 'seccion'}
	title #{proyecto.nombre} | #{proyecto.seccion}

block content
	main
		div.slider
			ul.bxslider
				li
					img(src="images/slider/slider1.jpg", alt="")
					div.contenidoslider
						span.textoslider.
							Ons Hout Bouwt vertrouwd
						span.leermas
							a(href="http://", target="_blank") meer over ons

				li
					img(src="images/slider/slider2.jpg", alt="")
					div.contenidoslider
						span.textoslider.
							Ons Hout Bouwt vertrouwd
						span.leermas
							a(href="http://", target="_blank") meer over ons
							
		div.content
