extends ../plantillas/plantilla-principal

block title
	-var proyecto = {nombre: 'nombre', seccion: 'seccion'}
	title #{proyecto.nombre} | #{proyecto.seccion}

block content
	main
		div.slider
			ul.bxslider
				li
					img(src="images/slider/slider1.jpg", alt="")
					div.contenidoslider
						span.textoslider.
							Ons Hout Bouwt vertrouwd
						span.leermas
							a(href="http://", target="_blank") meer over ons

				li
					img(src="images/slider/slider2.jpg", alt="")
					div.contenidoslider
						span.textoslider.
							Ons Hout Bouwt vertrouwd
						span.leermas
							a(href="http://", target="_blank") meer over ons
							
		div.content
			aside.banners
				ul
					li
						img(src="images/content/banner1.jpg", alt="" width="300" height="200")
						span.bannoticia.not1.
							Prefab
					li.central
						img(src="images/content/banner2.jpg", alt=""  width="300" height="200")
						span.bannoticia.not2.
							Emballage
					li
						img(src="images/content/banner3.jpg", alt=""  width="300" height="200")
						span.bannoticia.not3.
							Handel
			section.seccion1
				article.article1
					h2.
						Megahout & Plaat, veelzijdig in Maatwerk
					span.cuadro1
						div.coluno
							img(src="images/content/imagen1.jpg", alt="")
							img(src="images/content/imagen2.jpg", alt="")
						div.coldos.
							Megahout is de grootste producent van gevingerlast, geschaafd en op maat geleverd vurenhout van Nederland. fermentum hendrerit, nisi diam viverra metus, porta semper est ipsum et sapien.
							Suspendisse eget felis eget nulla placerat luctus id quis sapien. Sed metus felis, euismod et euismod et, feugiat viverra diam.felis tortor, euismod ac tortor ut. Quisque nec erat erat.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. 


						span.leermas
							a(href="http://", target="_blank") meer over ons
								
				article.article2
					h2.
						Keurmerken
					span.cuadro2
						p.
							Megahout & Plaat is gecertificeerd leverancier van duurzaam geproduceerde houtproducten. 
						img(src="images/content/fsc.jpg", alt="" class="alignleft").
						p.
							FSC keurmerk
							Lorem ipsum dolor sit amet, consectetur erat adipiscing elit. Quisque nec erat.
						br

						img(src="images/content/pefc.jpg", alt="" class="alignleft").
						p.
							FSC keurmerk
							Lorem ipsum dolor sit amet, consectetur erat adipiscing elit. Quisque nec erat

				article.article3
					h2.
						Vakkennis en advies
					span.cuadro3
						p.
							Voor vragen over ons assortiment of de toepassing van onze producten, kunt u terecht bij onze specialisten. Zij zitten klaar om uw vragen te beantwoorden.
							Wij zijn van ma. tot za. telefonisch bereikbaar op:
						img(src="images/content/foto.jpg", alt="" class="alignleft").
						p.
							(0512) 582 880
							van 9.00 tot 18.00
		div.navsecundario
			div.menusecundario
				ul
					li
						a(href="http://", target="_blank") Megahout & Plaat, veelzijdig in maatwerk
					li
						a(href="http://", target="_blank") Megahout & Plaat, veelzijdig in maatwerk
					li
						a(href="http://", target="_blank") Megahout & Plaat, veelzijdig in maatwerk
		div.content2
			section.seccion2
				article.article1
					h2.
						News	
					span.cuadro
						p.
							Megahout & Plaat is gecertificeerd leverancier van duurzaam geproduceerde houtproducten. 
						
						img(src="images/content/fotom1.jpg", alt="" class="alignleft").
						h3.
								FSC keurmerk
						p.
							Lorem ipsum dolor sit amet, consectetur erat adipiscing elit. Quisque nec erat.
							span
						br
						br

						img(src="images/content/fotom2.jpg", alt="" class="alignleft").
						h3.
								FSC keurmerk
						p.
							Lorem ipsum dolor sit amet, consectetur erat adipiscing elit. Quisque nec erat
							leer mas..
				section.redes
					article.article2
						h2.
							tweets
						span.cuadro
							p.
								Megahout & Plaat is gecertificeerd leverancier van duurzaam geproduceerde houtproducten. 
							img(src="images/content/fsc.jpg", alt="" class="alignleft").
							p.
								FSC keurmerk
								Lorem ipsum dolor sit amet, consectetur erat adipiscing elit. Quisque nec erat.
							br

							img(src="images/content/pefc.jpg", alt="" class="alignleft").
							p.
								FSC keurmerk
								Lorem ipsum dolor sit amet, consectetur erat adipiscing elit. Quisque nec erat

					article.redessociales
						ul
							li.bolg
								a(href="http://", target="_blank" class="bolg") 
									img(src="images/content/volg.jpg", alt="")
							li
								a(href="http://", target="_blank" class="twitter") 
									img(src="images/content/twitter.jpg", alt="")
							li
								a(href="http://", target="_blank" class="facebook") 
									img(src="images/content/facebook.jpg", alt="")
							li
								a(href="http://", target="_blank" class="linkedin") 
									img(src="images/content/linkedin.jpg", alt="")

				article.article3
					h2.
						Contact informate
					span.cuadro
						p.
						h3.
							Megahout & Plaat
						p.
						
						img(src="images/header/ubicacion.png", alt="" class="alignleft")

						p.
							Pascallan 3<br/>
							90207 JS Drachten <br/>

						img(src="images/header/fono.png", alt="" class="alignleft")
						p.
							0512582880<br/><br/>

						img(src="images/header/correo.jpg", alt="" class="alignleft")
						p.
							ingo@megahoutenplaat.nl<br/>
						h3.
							Openingstijden
						p.
							Maandag t/m Vrijdag   8:00 - 19.00<br/>
							Maandag t/m Vrijdag   8:00 - 19.00<br/>
							Maandag t/m Vrijdag   8:00 - 19.00